
//.miTabla{
//  @media screen and (min-width: $min-width) {
//   //margin: 0 auto;
//  }
//}

.miTabla tr td{
  //width: 500px;
  //max-width: 300px;
  min-width: 100px;
}

.contenedorTabla{
  //display: flex;
}


.miThead{
  background-color: $primary-color;
  color: $secondary-color;
}

tbody tr:nth-child(odd){
  //background-color: $secondary-color;
}

tbody tr:nth-child(even){
  //background-color: $color4;
}

tbody tr:hover{
  //background-color: $primary-color;
}

.table-bordered {
  border: none;
}

table a{
  display: flex;
  flex-wrap: nowrap;
  margin-left: 5px;
}

.td-acciones{
  display: flex;
  border: none;

}

.terminada {
  background-color: hsla(120, 50%,50%,.3);
}

.asignada{
  background-color: hsla(60, 50%,50%,.3);
}

.activa{
  background-color: hsla(180, 50%,50%,.3);
}

.no-asignada{
  background-color: hsla(180, 50%,95%,.4);
}

.parcial{
  background-color: hsla(180, 50%,10%,.4);
  color: #eee;
}