//VARIABLES
$primary-color: hsla(32, 83%, 50%,1);
$secondary-color: hsla(0,0%,86%,1);
$color3: hsla(0,0%,13%,1);
$color4: hsla(0,0%,75%,1);
$font-color: hsla(0,0%,98%,1);
$min-width: 991px;
$alturaMenu: 40px;

$size-toggle-button: 2rem;
$on-color: hsl(120,70%,50%);
$off-color: hsl(0,70%,50%);
$bg-color: #1F2B2D;
$front-color: #eee;
$transition: all .3s;

