//VARIABLES
$primary-color: hsla(32, 83%, 50%,1);
$secondary-color: hsla(0,0%,86%,1);
$color3: hsla(0,0%,13%,1);
$color4: hsla(0,0%,75%,1);
$font-color: hsla(0,0%,98%,1);
$min-width: 768px;
$alturaMenu: 40px;
