{% extends 'layout.twig' %}

{% block title 'Controlador' %}

{% block contenido %}
    <div class="contenido">
        <form class="formularioTecnicos" action="" method="post">

            <div class="vistaFormulario">
                <p class="alert alert-info" >Resolver la incidencia </p>

                <p class="alert alert-info">Seleccione una solución: </p>

                <select name="solucion" id="solucion">
                    <option value="Resuelta sin problemas">Resuelta sin problemas</option>
                    <option value="otros">otros</option>
                </select>
            </div>

            <div class="vistaFormulario">
                <div id="comentarioFinalizar">
                    <label class="alert alert-info" for="comentario">Añadir un comentario:</label>
                    <textarea class="labelTecnico miArea" name="comentario" id="comentario" cols="40" rows="5"></textarea>
                </div>
            </div>

            <div class="vistaCheck">
                <button class="btn btn-primary" type="submit" name="confirmarFinalizar"><i class="fas fa-check"></i> Aceptar</button>
                <a href="javascript:history.back()"><button class="btn btn-warning" type="button"><i class="fas fa-undo"></i> Volver</button></a>
            </div>
        </form>
    </div>

{% endblock %}

 {% block usuario %}
     <span>Conectado como: {{ usuario }}</span>
 {% endblock %}
