{% extends 'layout.twig' %}

{% block title 'Confirmar' %}

{% block contenido %}
    <div class="contenido">
        <form class="formularioTecnicos" action="" method="post">

            <div class="vistaFormularioS">
                <p class="alert alert-warning" >Resolver la incidencia </p>
                <label class="input-group-text">Seleccione una solución:</label>
            </div>

            <div class="vistaFormularioS">
                <select name="solucion" id="solucionConfimarFinalizar">
                    <option value="Resuelta sin problemas">Resuelta sin problemas</option>
                    <option value="otros">otros</option>
                </select>
            </div>

            <div class="vistaFormularioS">
                <div id="comentarioConfirmarFinalizar">
                    <label class="input-group-text">Añadir un comentario:</label>
                    <textarea class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="comentario" id="comentario" cols="10" rows="2"></textarea>
                </div>
            </div>
            <div class="vistaCheck">
                <button class="btn btn-primary" type="submit" name="confirmarFinalizar"><i class="fas fa-check"></i> Aceptar</button>
                <a href="javascript:history.back()"><button class="btn btn-warning" type="button"><i class="fas fa-undo"></i> Volver</button></a>
            </div>
        </form>
    </div>

{% endblock %}

 {% block usuario %}
     <span>Conectado como: {{ usuario }}</span>
 {% endblock %}
