{% extends 'layout.twig' %}

{% block title 'Controlador' %}

{% block contenido %}
    <div class="contenido">
        <form class="formularioTecnicos" action="" method="post">

            {#{% if error %}#}
                {#<p class="label label-danger">El comentario es obligatorio</p>#}
            {#{% endif %}#}

            <label for="solucion">Seleccione una solución: </label>

            <select name="solucion" id="solucion">
                <option value="Resuelta sin problemas">Resuelta sin problemas</option>
                <option value="otros">otros</option>
            </select>

            <div id="comentarioFinalizar">
                <label class="labelTecnico miLabel" for="comentario">Añadir un comentario:</label>
                <textarea class="labelTecnico miArea" name="comentario" id="comentario" cols="40" rows="5"></textarea>
            </div>

            <input class="btn btn-primary boton" type="submit" name="confirmarFinalizar" value="Aceptar">
            <a href="javascript:history.back()"><input class="btn btn-warning boton" type="button" value="Cancelar"></a>
        </form>
    </div>

{% endblock %}

 {% block usuario %}
     <span>Conectado como: {{ usuario }}</span>
 {% endblock %}
