<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block css %}
        <link rel="stylesheet" href="../../public/font-awesome/css/fontawesome-all.css">
        <link rel="stylesheet" href="../../public/css/jquery-ui.min.css">
        <link rel="stylesheet" href="../../public/css/main-bootstrap.css">
        <link rel="stylesheet" href="../../public/css/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="../../public/css/main-toastr.css">
        <link rel="stylesheet" href="../../public/DataTables/datatables.min.css">
        <link rel="stylesheet" href="../../public/css/select2.min.css">
        <link rel="stylesheet" href="../../public/css/normalize.css">
        <link rel="stylesheet" href="../../public/css/main.css">
    {% endblock %}
    <title>{% block title 'Bienvendos' %}</title>
</head>
<body>

    {% block menu %}

        <nav  class="navbar navbar-expand-lg navbar-light  {% block classMenu %} menuNav {% endblock %} ">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class="fas fa-bars"></i></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul id="" class="navbar-nav mr-auto">
                    <li class="nav-item miLogo">
                        <a href="#"><img class="imgLogo" src="../../public/resources/logo.png" alt=""></a>
                    </li>
                    {% block elementosMenu %}
                        {% if rol == '0' %}
                            {#modificar al pasar a produccion#}
                            {# Elementos para los administradores #}
                            <li class="nav-item"><a class="miLink {% if uri == '/q/controller/cliente/cliente_incidencias.php?tipo=0'%} active {% endif %}" href="../cliente/cliente_incidencias.php?tipo=0"><i class="fas fa-exclamation-triangle"></i> Incidencias</a></li>
                            <li class="nav-item"><a class="miLink {% if uri == '/q/controller/cliente/cliente_listar.php'%} active {% endif %}" href="../cliente/cliente_listar.php"><i class="fas fa-users"></i> Clientes</a></li>
                            <li class="nav-item"><a class="miLink {% if uri == '/q/controller/usuario/usuario_listar.php?rol=1'%} active {% endif %}" href="../usuario/usuario_listar.php?rol=1"><i class="fas fa-users"></i> Comerciales</a></li>
                            <li class="nav-item"><a class="miLink {% if uri == '/q/controller/usuario/usuario_listar.php?rol=2'%} active {% endif %}" href="../usuario/usuario_listar.php?rol=2"><i class="fas fa-users"></i> Técnicos</a></li>
                            <li class="nav-item"><a class="miLink {% if uri == '/q/controller/usuario/usuario_listar.php?rol=4'%} active {% endif %}" href="../usuario/usuario_listar.php?rol=4"><i class="fas fa-users"></i> Controladores</a></li>
                            <li class="nav-item"><a class="miLink {% if uri == '/q/controller/administrador/administrador_material.php'%} active {% endif %}" href="../administrador/administrador_material.php"><i class="fas fa-cubes"></i> Material</a></li>
                            <li class="nav-item"><a class="miLink {% if uri == '/q/controller/administrador/administrador_conexiones.php'%} active {% endif %}" href="../administrador/administrador_conexiones.php"><i class="fas fa-link"></i> Conexiones</a></li>
                            <li class="nav-item"><a class="miLink {% if uri == '/q/controller/administrador/administrador_informes.php'%} active {% endif %}" href="../administrador/administrador_informes.php"><i class="far fa-file-alt"></i> Informes</a></li>
                            {# Elementos para los comerciales #}
                        {% elseif rol == '1' %}
                            <li class="nav-item"><a class="miLink {% if uri == '/q/controller/cliente/cliente_listar.php'%} active {% endif %}" href="../cliente/cliente_listar.php"><i class="fas fa-users"></i> Clientes</a></li>
                            <li class="nav-item"><a class="miLink {% if uri == '/q/controller/cliente/cliente_incidencias.php?tipo=0'%} active {% endif %}" href="../cliente/cliente_incidencias.php?tipo=0"><i class="fas fa-exclamation-triangle"></i> Indicencias</a></li>
                            {# Elementos para los tecnicos #}
                        {% elseif rol == '2' %}
                            <li class="nav-item"><a class="miLink {% if uri == '/q/controller/tecnico/tecnico.php'%} active {% endif %}" href="../tecnico/tecnico.php"><i class="fas fa-exclamation-triangle"></i> Inicio</a></li>
                            <li class="nav-item"><a class="miLink {% if uri == '/q/controller/tecnico/tecnico_pendientes.php'%} active {% endif %}" href="../tecnico/tecnico_pendientes.php"><i class="fas fa-users"></i> Pendientes</a></li>
                            <li class="nav-item"><a class="miLink {% if uri == '/q/controller/tecnico/tecnico_material.php'%} active {% endif %}" href="../tecnico/tecnico_material.php"><i class="fas fa-cubes"></i> Material</a></li>
                            {# Elementos para los controladores #}
                        {% elseif rol == '4' %}
                            <li class="nav-item"><a class="miLink {% if uri == '/q/controller/cliente/cliente_incidencias.php'%} active {% endif %}" href="../cliente/cliente_incidencias.php"><i class="fas fa-exclamation-triangle"></i> Incidencias</a></li>
                        {% endif %}
                    {% endblock %}
                </ul>
                <ul id="" class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle miLink" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% block usuario %}
                            {% endblock %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item miLink" href="../usuario/usuario_configuracion.php"><i class="fas fa-cogs"></i> Configuración</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item miLink" href="../login/usuarios.php?exit=0"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

    {% endblock %}
    {% block contenido %}
    {% endblock %}
    {% block javascripts %}
        <script src="../../public/js/jquery.min.js"></script>
        <script src="../../public/js/popper.min.js"></script>
        <script src="../../public/js/bootstrap.min.js"></script>
        <script src="../../public/js/jquery-ui.min.js "></script>
        <script src="../../public/js/bootstrap-datetimepicker.min.js"></script>
        <script src="../../public/js/bootstrap-datetimepicker.es.js"></script>
        <script src="../../public/js/toastr.js"></script>
        <script src="../../public/DataTables/datatables.min.js"></script>
        <script src="../../public/js/select2.min.js"></script>
        <script src="../../public/js/javascript.js "></script>
    {% endblock %}
</body>
</html>