<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block css %}
        <link rel="stylesheet" href="../../public/font-awesome/css/fontawesome-all.css">
        <link rel="stylesheet" href="../../public/css/jquery-ui.min.css">
        <link rel="stylesheet" href="../../public/css/main-bootstrap.css">
        <link rel="stylesheet" href="../../public/css/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="../../public/css/main-toastr.css">
        <link rel="stylesheet" href="../../public/DataTables/datatables.min.css">
        <link rel="stylesheet" href="../../public/select2/css/select2.min.css">
        <link rel="stylesheet" href="../../public/css/normalize.css">
        <link rel="stylesheet" href="../../public/css/main.css">
    {% endblock %}
    <title>{% block title 'Bienvendos' %}</title>
</head>
<body>

    {% block menu %}

        <div {% block classMenu %} class="miNav" {% endblock %}>

            <label class="labelMenu" for="btnMenu"></label>
            <input class="btnMenu" id="btnMenu" type="checkbox">
            <div class="logo">
                <a href="#"><img class="imgLogo" src="../../public/resources/logo.png" alt=""></a>
            </div>
            <div class="elementos">
                <ul id="miMenu" class="menu">
                    {% block elementosMenu %}
                        {% if rol == '0' %}
                            {# Elementos para los administradores #}
                            <li class="li"><a href="../cliente/cliente_incidencias.php?tipo=0"><i class="fas fa-exclamation-triangle"></i> Incidencias</a></li>
                            <li class="li"><a href="../cliente/cliente_listar.php"><i class="fas fa-users"></i> Clientes</a></li>
                            <li class="li"><a href="../usuario/usuario_listar.php?rol=1"><i class="fas fa-users"></i> Comerciales</a></li>
                            <li class="li"><a href="../usuario/usuario_listar.php?rol=2"><i class="fas fa-users"></i> Técnicos</a></li>
                            <li class="li"><a href="../usuario/usuario_listar.php?rol=4"><i class="fas fa-users"></i> Controladores</a></li>
                            <li class="li"><a href="../administrador/administrador_material.php"><i class="fas fa-cubes"></i> Material</a></li>
                            <li class="li"><a href="../administrador/administrador_conexiones.php"><i class="fas fa-link"></i> Conexiones</a></li>
                            {# Elementos para los comerciales #}
                        {% elseif rol == '1' %}
                            <li class="li"><a href="../cliente/cliente_listar.php"><i class="fas fa-users"></i> Clientes</a></li>
                            <li class="li"><a href="../cliente/cliente_incidencias.php?tipo=0"><i class="fas fa-exclamation-triangle"></i> Indicencias</a></li>
                            {# Elementos para los tecnicos #}
                        {% elseif rol == '2' %}
                            <li class="li"><a href="../tecnico/tecnico.php"><i class="fas fa-exclamation-triangle"></i> Incidencias</a></li>
                            <li class="li"><a href="../tecnico/tecnico_pendientes.php"><i class="fas fa-users"></i> Pendientes</a></li>
                            <li class="li"><a href="../tecnico/tecnico_material.php"><i class="fas fa-cubes"></i> Material</a></li>
                            {# Elementos para los controladores #}
                        {% elseif rol == '4' %}
                            <li class="li"><a href="../cliente/cliente_incidencias.php"><i class="fas fa-exclamation-triangle"></i> Incidencias</a></li>
                        {% endif %}
                    {% endblock %}
                </ul>
            </div>
            <div class="usuario">
                <div class="dropdown">
                    <button type="button" class="btn btn-sm btnMia dropdown-toggle" data-toggle="dropdown">
                        {% block usuario %}
                        {% endblock %}
                    </button>
                    <div class="dropdown-menu mia">
                        <a class="dropdown-item" href="../usuario/usuario_configuracion.php"><i class="fas fa-cogs"></i> Configuración</a>
                        <a class="dropdown-item" href="../login/usuarios.php?exit=0"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
    {% block contenido %}
    {% endblock %}
    {% block javascripts %}
        <script src="../../public/js/jquery.min.js"></script>
        <script src="../../public/js/popper.min.js"></script>
        <script src="../../public/js/bootstrap.min.js"></script>
        <script src="../../public/js/jquery-ui.min.js "></script>
        <script src="../../public/js/bootstrap-datetimepicker.min.js"></script>
        <script src="../../public/js/bootstrap-datetimepicker.es.js"></script>
        <script src="../../public/js/toastr.js"></script>
        <script src="../../public/DataTables/datatables.min.js"></script>
        <script src="../../public/select2/js/select2.min.js"></script>
        <script src="../../public/js/javascript.js "></script>
    {% endblock %}
</body>
</html>