.miLogo {
  display: none;
}

@media screen and (min-width: 991px) {
  .miLogo {
    display: inline-block;
  }
}

.imgLogo {
  width: 32px;
  height: 32px;
  margin: auto 15px auto 0;
}

.menuNav {
  background-color: #e98716;
}

.menuNavWarning {
  background-color: rgba(217, 38, 38, 0.8);
}

.miLink {
  color: #0a0a0a;
  display: block;
  padding: 7px;
  width: 100%;
}

@media screen and (min-width: 991px) {
  .miLink {
    padding: 7px;
    width: 100%;
  }
}

.miLink:hover {
  color: #dbdbdb;
}

.miLink:link {
  text-decoration: none;
}

.contenedorLogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background-image: url("../resources/maxresdefault.jpg");
  background-size: 100%;
}

.miTextGroup {
  min-width: 40px;
}

.miTextGroup i {
  margin: auto;
}

.miInputLogin {
  width: 90%;
  margin: auto;
}

.btnLogin {
  width: 100%;
  border: none;
}

.login {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #e98716;
  height: 250px;
  margin: auto;
  border-radius: 3%;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: repeat(15, 6.66%);
}

.l-titulo {
  grid-column: 1/4;
  grid-row: 1/3;
  display: table;
  height: 100%;
  background-color: #e98716;
  border-bottom: 1px solid #e98716;
  border-top-left-radius: 3% 15%;
  border-top-right-radius: 3% 15%;
}

.l-titulo label {
  display: table-cell;
  border-radius: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  color: #212121;
}

.l-usuario {
  grid-column: 2;
  grid-row: 5/7;
  height: 100%;
}

.l-password {
  grid-column: 2;
  grid-row: 8/10;
  height: 100%;
}

.b-login {
  grid-column: 2;
  grid-row: 12/14;
}

.formularioLogin {
  margin: auto;
  width: 90%;
}

@media screen and (min-width: 991px) {
  .formularioLogin {
    width: 400px;
  }
}

.labelLogin {
  width: 100%;
  border-radius: 0;
  margin: 0;
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
  background-color: #e98716;
}

.miTabla tr td {
  min-width: 100px;
}

.miThead {
  background-color: #e98716;
  color: #dbdbdb;
}

.table-bordered {
  border: none;
}

table a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-left: 5px;
}

.td-acciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
}

.terminada {
  background-color: rgba(64, 191, 64, 0.3);
}

.asignada {
  background-color: rgba(191, 191, 64, 0.3);
}

.activa {
  background-color: rgba(64, 191, 191, 0.3);
}

.no-asignada {
  background-color: rgba(236, 249, 249, 0.4);
}

.parcial {
  background-color: rgba(13, 38, 38, 0.4);
  color: #eee;
}

.pendienteF {
  background-color: rgba(191, 191, 64, 0.7);
}

.pendienteW {
  background-color: rgba(217, 38, 38, 0.7);
  color: white;
}

.toggle-button {
  display: none;
}

.toggle-button + label {
  margin: auto;
  display: block;
  width: 4rem;
  height: 2rem;
  background: #b34d4d;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 0 2px rgba(238, 238, 238, 0.5);
  box-shadow: 0 0 0 2px rgba(238, 238, 238, 0.5);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.toggle-button + label:before {
  content: "";
  text-align: center;
  line-height: 2rem;
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #eee;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  position: relative;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.toggle-button:checked + label {
  background: #4db34d;
}

.toggle-button:checked + label:before {
  content: "";
  left: 2rem;
  background: #eee;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  background-color: #dbdbdb;
}

.contenido {
  padding-top: 40px;
}

@media screen and (min-width: 991px) {
  .contenido {
    padding-top: 80px;
    margin-right: 40px;
    margin-left: 40px;
  }
}

.contenidoInfo {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (min-width: 991px) {
  .contenidoInfo {
    padding-top: 80px;
    margin-right: 40px;
    margin-left: 40px;
  }
}

.table tr {
  height: 10px;
}

.li a {
  color: white;
}

.acciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grupoF {
  margin: 0 auto 10px auto;
  width: 95%;
}

@media screen and (min-width: 991px) {
  .grupoF {
    margin: 0 0 0 10px;
    width: 550px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.inputF, .labelF {
  width: 100%;
  height: 30px;
  display: block;
  margin-right: 10px;
}

@media screen and (min-width: 991px) {
  .inputF, .labelF {
    height: 30px;
    width: 300px;
  }
}

.grupoFB {
  margin: 0 auto 10px auto;
  width: 95%;
}

@media screen and (min-width: 991px) {
  .grupoFB {
    margin: 0 0 0 10px;
    width: 550px;
  }
}

.btnF {
  display: inline;
}

.botonAccion {
  width: 20px;
  height: 20px;
  /*background-image: linear-gradient(orange, pink);*/
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 100%;
  color: transparent;
  border: none;
  /*outline: none;*/
  cursor: pointer;
  padding: 0;
  margin: auto 0;
}

.btnEliminar {
  background-image: url("../resources/delete.png");
}

.btnModificar {
  background-image: url("../resources/modificar.png");
}

.btnLiberar {
  background-image: url("../resources/liberar.png");
}

.btnIncidencias {
  background-image: url("../resources/warning.png");
}

.btnAceptar {
  background-image: url("../resources/aceptar.png");
}

.btnTecnico {
  background-image: url("../resources/wrench.png");
}

.btnNuevaIncidencia {
  background-image: url("../resources/nueva2.png");
}

.btnComentario {
  background-image: url("../resources/comments.png");
}

.btnInfo {
  background-image: url("../resources/info.png");
}

.btnDispobible {
  background-image: url("../resources/calendar.png");
}

.btnReasignar {
  background-image: url("../resources/ctecnico.png");
}

.btnUrgenteNo {
  background-image: url("../resources/urgent-no.png");
}

.btnUrgenteSi {
  background-image: url("../resources/urgent-si.png");
}

.btnSolucion {
  background-image: url("../resources/solucion.png");
}

.labelPersonal {
  display: block;
  margin-bottom: 2px;
}

.textareaPersonal {
  display: block;
  margin-bottom: 10px;
}

.boton {
  display: block;
  margin: 15px 0;
}

.formularioTecnicos {
  padding-left: 20px;
  display: inline;
  min-height: 0;
}

.label {
  font-size: 1em;
}

.miLabel {
  display: block;
  width: 200px;
  margin: 15px 0 15px 0;
}

.miArea {
  display: block;
  width: 300px;
  margin: 5px;
}

.miInput {
  width: 100%;
  height: 30px;
}

@media screen and (min-width: 991px) {
  .miInput {
    width: 200px;
  }
}

.miSelect {
  width: 200px;
  height: 30px;
}

.miDiv {
  width: 300px;
}

.divMaterial {
  margin: 20px 0;
  width: 100%;
}

@media screen and (min-width: 991px) {
  .divMaterial {
    width: 50%;
  }
}

.red {
  background-color: rgba(191, 64, 64, 0.8);
}

.green {
  background-color: rgba(64, 191, 64, 0.8);
}

.vistaFormulario {
  margin-top: 20px;
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (min-width: 991px) {
  .vistaFormulario {
    margin-top: 0;
    width: 600px;
  }
}

.vistaFormularioXL {
  margin-top: 20px;
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (min-width: 991px) {
  .vistaFormularioXL {
    margin-top: 0;
    width: 800px;
  }
}

.vistaInfo {
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (min-width: 991px) {
  .vistaInfo {
    width: 40%;
  }
}

.vistaEstablecer {
  width: 150px;
  margin-bottom: 10px;
}

@media screen and (min-width: 991px) {
  .vistaEstablecer {
    width: 150px;
  }
}

.vistaFormularioXL .list-group-item {
  height: 100px;
}

@media screen and (min-width: 991px) {
  .vistaFormularioXL .list-group-item {
    height: 50px;
  }
}

.vistaFormulario > .input-group {
  display: block;
}

@media screen and (min-width: 991px) {
  .vistaFormulario > .input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.vistaFormulario > .input-group > .form-control {
  width: 100%;
}

@media screen and (min-width: 991px) {
  .vistaFormulario > .input-group > .form-control {
    width: 1%;
  }
}

.vistaCheck {
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (min-width: 991px) {
  .vistaCheck {
    width: 40%;
  }
}

@media screen and (min-width: 991px) {
  .vistaCheck > .input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 991px) {
  .vistaCheck > .input-group > .form-control {
    width: 1%;
  }
}

.formInfo {
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (min-width: 991px) {
  .formInfo {
    width: 35%;
  }
}

.historial {
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (min-width: 991px) {
  .historial {
    width: 64%;
  }
}

.liArea {
  height: 100px;
}

.pArea {
  white-space: normal;
  overflow: auto;
  height: 100%;
  padding: 0;
  margin: 0;
}

.ctipo_conexion {
  background: rgba(64, 191, 64, 0.5);
}

.ctipo_desconexion {
  background: rgba(191, 64, 64, 0.5);
}

.btn-group-vertical, .btn-group {
  width: 100%;
}

@media screen and (min-width: 991px) {
  .btn-group-vertical, .btn-group {
    width: 400px;
  }
}

.navbar-light .navbar-toggler {
  color: #0a0a0a;
}

.navbar-light .navbar-nav .nav-link {
  color: #0a0a0a;
}

.navbar {
  padding: 2px 5px;
}

.active {
  color: white;
}

.alerta {
  margin: auto 5px;
  padding: 4px;
}
