{% extends 'layout.twig' %}

{% block title 'Tecnico' %}

{% block contenido %}
    <div class="contenido">
        <form action="" method="post">

            {% if error %}
                <div class="vistaFormularioXS">
                    <p class="alert alert-danger">El comentario es obligatorio</p>
                </div>

            {% endif %}

            <div class="vistaFormularioXS">
                <label for=comentario class="input-group-text">Añadir Comentario*:</label>
                <textarea class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="comentario" id="comentario" cols="10" rows="2"></textarea>
            </div>


            <div class="vistaFormularioXS">
                <div class="form-group">
                    <label for=comentario class="input-group-text">Disponible a partir de:</label>
                    <div class="input-group date form_datetime" data-date="" data-date-format="yyyy-mm-dd HH:ii p" data-link-field="dtp_input1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-calendar-alt"></i></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        </div>
                        <input class="form-control" size="2" type="text" value="{{ disponible }}" >
                    </div>
                    <input type="hidden" id="dtp_input1" value="{{ disponible }}" name="pllamada" /><br/>
                </div>
            </div>

            <div class="miDiv">
                <p class="alert alert-info">(*) Campos obligatorios</p>
            </div>


            <div class="vistaCheck">
                <button class="btn btn-primary" type="submit" name="aceptarMoverPendiente"><i class="fas fa-check"></i> Aceptar</button>
                <button class="btn btn-warning" type="submit" name="cancelarMoverPendiente"><i class="fas fa-undo"></i> Volver</button>
            </div>

        </form>
    </div>


{% endblock %}

{% block usuario %}
    <span>Conectado como: {{ usuario }}</span>
{% endblock %}