{% extends 'layout.twig' %}

{% block title 'Tecnico' %}

{% block contenido %}
    <div class="contenido">
        <form action="" method="post">

            {% if error %}
                <p class="alert alert-danger">El comentario es obligatorio</p>
            {% endif %}

            <div class="miDiv">
                <p class="alert alert-info" >Añadir un comentario*:</p>
                <textarea class="labelTecnico" name="comentario" id="comentario" cols="40" rows="5"></textarea>
            </div>

            <div class="miDiv">
                <p class="alert alert-info">(*) Campos obligatorios</p>
            </div>

            <div class="vistaCheck">
                <button class="btn btn-primary" type="submit" name="aceptarMoverError"><i class="fas fa-check"></i> Aceptar</button>
                <button class="btn btn-warning" type="submit" name="cancelarMoverError"><i class="fas fa-undo"></i> Volver</button>
            </div>
        </form>
    </div>


{% endblock %}

{% block usuario %}
    <span>Conectado como: {{ usuario }}</span>
{% endblock %}