{% extends 'layout.twig' %}

{% block title 'Confirmar' %}

{% block contenido %}
    <div class="contenido">
        <form action="" method="post">

            {% if error %}
                <p class="alert alert-danger">El comentario es obligatorio</p>
            {% endif %}

            <div class="vistaFormularioXS">
                <label for=comentario class="input-group-text">Añadir Comentario*:</label>
                <textarea class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="comentario" id="comentario" cols="10" rows="2"></textarea>
            </div>

            <div class="vistaFormularioXS">
                <p class="alert alert-info">(*) Campos obligatorios</p>
            </div>

            <div class="vistaCheck">
                <button class="btn btn-primary" type="submit" name="aceptarMoverError"><i class="fas fa-check"></i> Aceptar</button>
                <button class="btn btn-warning" type="submit" name="cancelarMoverError"><i class="fas fa-undo"></i> Volver</button>
            </div>
        </form>
    </div>

{% endblock %}

{% block usuario %}
    <span>Conectado como: {{ usuario }}</span>
{% endblock %}