{% extends 'layout.twig' %}

{% block title 'Pendientes' %}

{% block contenido %}
    <div class="contenido">

        <form class="formularioTecnicos" action="" method="post">

            {#Accion en caso de instalacion#}
            {% if tipo == 'instalacion' %}
                <div class="vistaCheck">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input id="toggle-antenas" class="toggle-button" type="checkbox" aria-label="Checkbox for following text input" value="1" name="antenas">
                                <label for="toggle-antenas"></label>
                            </div>
                        </div>
                        <input id="antenas" type="text" class="form-control" aria-label="Text input with checkbox" value="Antena instalada" disabled>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input id="toggle-routers" class="toggle-button" type="checkbox" aria-label="Checkbox for following text input" value="1" name="routers">
                                <label for="toggle-routers"></label>
                            </div>
                        </div>
                        <input id="antenas" type="text" class="form-control" aria-label="Text input with checkbox" value="Router instalado" disabled>
                    </div>
                </div>

                <div class="vistaFormulario">
                    <label for="solucion">Seleccione una solución: </label>
                    <select name="solucion" id="solucion">
                        <option value="Instalacion normal">Instalación normal</option>
                        <option value="Intalacion parcial">Instalacion parcial</option>
                        <option value="otros">otros</option>
                    </select>

                    <div id="comentarioFinalizar" class="vistaFormulario">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label for="comentario" class="input-group-text" id="inputGroup-sizing-default">Detalles:</label>
                                <textarea class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="otros" id="comentario" cols="15" rows="2"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="vistaFormulario">
                    <input class="btn btn-success" type="submit" value="Confirmar instalación" name="btnConfirmarFinalizar">
                    <input class="btn btn-warning" type="submit" value="Cancelar" name="cancelarFinalizar">
                </div>
            {% endif %}

            {#Accion en caso de baja#}
            {% if tipo == 'baja' %}
                <div class="vistaCheck">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input id="toggle-antenas" class="toggle-button" type="checkbox" aria-label="Checkbox for following text input" value="1" name="antenas">
                                <label for="toggle-antenas"></label>
                            </div>

                        </div>
                        <input id="antenas" type="text" class="form-control" aria-label="Text input with checkbox" value="Antena recogida" disabled>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input id="checkRouterBaja" class="toggle-button" type="checkbox" aria-label="Checkbox for following text input" value="1" name="routers">
                                <label for="checkRouterBaja"></label>
                            </div>
                        </div>
                        <input id="antenas" type="text" class="form-control" aria-label="Text input with checkbox" value="Router recogido*" disabled>
                    </div>
                    <label class="alert alert-info">(*)Campos obligatorios</label>
                </div>

                <div class="vistaFormulario">
                    <label for="solucion">Seleccione una solución: </label>
                    <select name="solucion" id="solucion">
                        <option value="Baja completa">Baja completa</option>
                        <option value="Baja parcial">Baja parcial</option>
                        <option value="otros">otros</option>
                    </select>

                    <div id="comentarioFinalizar" class="vistaFormulario">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label for="comentario" class="input-group-text" id="inputGroup-sizing-default">Detalles:</label>
                                <textarea class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="otros" id="comentario" cols="15" rows="2"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="vistaFormulario">
                    <input id="btnBaja" class="btn btn-danger" type="submit" value="Confirmar Baja" name="btnConfirmarFinalizar">
                    <input class="btn btn-warning" type="submit" value="Cancelar" name="cancelarFinalizar">
                </div>
            {% endif %}

            {#Accion en caso de averia#}
            {% if tipo == 'averia' %}

                <div class="vistaCheck">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input id="toggle-antenas" class="toggle-button" type="checkbox" aria-label="Checkbox for following text input" value="1" name="antenas">
                                <label for="toggle-antenas"></label>
                            </div>
                            {#<label for="">Antena instalada</label>#}
                        </div>
                        <input id="antenas" type="text" class="form-control" aria-label="Text input with checkbox" value="Cambio Antena" disabled>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input id="toggle-routers" class="toggle-button" type="checkbox" aria-label="Checkbox for following text input" value="1" name="routers">
                                <label for="toggle-routers"></label>
                            </div>
                            {#<label for="">Antena instalada</label>#}
                        </div>
                        <input id="antenas" type="text" class="form-control" aria-label="Text input with checkbox" value="Cambio router" disabled>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input id="toggle-ata" class="toggle-button" type="checkbox" aria-label="Checkbox for following text input" value="1" name="ata">
                                <label for="toggle-ata"></label>
                            </div>
                            {#<label for="">Antena instalada</label>#}
                        </div>
                        <input id="antenas" type="text" class="form-control" aria-label="Text input with checkbox" value="Cambio ATA" disabled>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input id="toggle-orientacion" class="toggle-button" type="checkbox" aria-label="Checkbox for following text input" value="1" name="orientacion">
                                <label for="toggle-orientacion"></label>
                            </div>
                            {#<label for="">Antena instalada</label>#}
                        </div>
                        <input id="antenas" type="text" class="form-control" aria-label="Text input with checkbox" value="Orientacion Antena" disabled>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input id="toggle-conectores" class="toggle-button" type="checkbox" aria-label="Checkbox for following text input" value="1" name="conectores">
                                <label for="toggle-conectores"></label>
                            </div>
                            {#<label for="">Antena instalada</label>#}
                        </div>
                        <input id="antenas" type="text" class="form-control" aria-label="Text input with checkbox" value="Cambio de conectores" disabled>
                    </div>
                </div>



                <div class="vistaFormulario">
                    <div id="comentarioFinalizar*">
                        <label class="labelTecnico miLabel" for="comentario">Otros:</label>
                        <textarea class="labelTecnico miArea" name="comentario" id="comentario" cols="40" rows="5"></textarea>
                    </div>
                </div>

                <div class="vistaFormulario">
                    <input class="btn btn-warning" type="submit" value="Finalizar averia" name="btnConfirmarFinalizar">
                    <input class="btn btn-warning" type="submit" value="Cancelar" name="cancelarFinalizar">
                </div>

            {% endif %}

            {#Accion en casio de cambio de domicilio#}
            {% if tipo == 'cambiodomicilio' %}


                <div class="vistaCheck">
                    <label class="alert alert-info">Ratirada de material</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input id="toggle-antenaR" class="toggle-button" type="checkbox" aria-label="Checkbox for following text input" value="1" name="antenaR">
                                <label for="toggle-antenaR"></label>
                            </div>
                        </div>
                        <input id="antenas" type="text" class="form-control" aria-label="Text input with checkbox" value="Antena retirada" disabled>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input id="toggle-routerR" class="toggle-button" type="checkbox" aria-label="Checkbox for following text input" value="1" name="routerR">
                                <label for="toggle-routerR"></label>
                            </div>
                        </div>
                        <input id="antenas" type="text" class="form-control" aria-label="Text input with checkbox" value="Router retirado" disabled>
                    </div>
                </div>

                <div class="vistaCheck">
                    <label class="alert alert-info">Instalación de material</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input id="toggle-antenaI" class="toggle-button" type="checkbox" aria-label="Checkbox for following text input" value="1" name="antenaI">
                                <label for="toggle-antenaI"></label>
                            </div>
                        </div>
                        <input id="antenas" type="text" class="form-control" aria-label="Text input with checkbox" value="Antena instalada" disabled>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input id="toggle-routerI" class="toggle-button" type="checkbox" aria-label="Checkbox for following text input" value="1" name="routerI">
                                <label for="toggle-routerI"></label>
                            </div>
                        </div>
                        <input id="antenas" type="text" class="form-control" aria-label="Text input with checkbox" value="Router instalado" disabled>
                    </div>
                </div>

                <div class="vistaFormulario">
                    <label for="solucion">Seleccione una solución: </label>
                    <select name="solucion" id="solucion">
                        <option value="Cambio de domicilio normal">Cambio de domicilio normal</option>
                        <option value="Cambio de domicilio parcial">Cambio de domicilio parcial</option>
                        <option value="otros">otros</option>
                    </select>

                    <div id="comentarioFinalizar" class="vistaFormulario">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label for="comentario" class="input-group-text" id="inputGroup-sizing-default">Detalles:</label>
                                <textarea class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="otros" id="comentario" cols="15" rows="2"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="vistaFormulario">
                    <input class="btn btn-info" type="submit" value="Finalizar" name="btnConfirmarFinalizar">
                    <input class="btn btn-warning" type="submit" value="Cancelar" name="cancelarFinalizar">
                </div>
            {% endif %}

            {#mensajes posibles de error#}
            {% if tipo == 'instalacion' %}
                {% if mensajeFaltaMaterial == 'error' %}
                    <p class="alert alert-danger">No dispones de tanto material</p>
                {% endif %}

                {% if mensajeRouter == 'error' %}
                    <p class="alert alert-danger">No se instaló el router</p>
                {% endif %}
            {% endif %}

            {% if tipo == 'baja' %}
                {% if mensajeBaja == 'materialRecoger' %}
                    <p class="alert alert-danger">No se retiró el router de la instalación</p>
                {% endif %}
            {% endif %}

            {% if tipo == 'averia' %}
                {% if mensajeIncidencia == 'error' %}
                    <label class="alert alert-danger">No se pudo actualizar el estado de la incidencia, consulte con un administrador.</label>
                {% endif %}

                {% if mensajeBaja == 'existe' %}
                    <label class="alert alert-danger">Ya existe una solucion para esta incidencia.</label>
                {% endif %}

                {% if mensajeUsuario == 'error' %}
                    <label class="alert alert-danger">Error al desasignar la incidencia al usuario</label>
                {% endif %}

                {% if mensajeIncidencia == 'error' %}
                    <label class="alert alert-danger">No se pudo actualizar el estado de la incidencia, consulte con un administrador.</label>
                {% endif %}
            {% endif %}

            {% if tipo == 'cambiodomicilio' %}

                {% if mensajeCambioDomicilio == 'materialnegativo' %}
                    <label class="alert alert-danger">El usuario no dispone de ese material.</label>
                {% endif %}

                {% if mensajeCambioDomicilio == 'materialRecoger' %}
                    <label class="alert alert-danger">No se retiró e instaló el router del cliente</label>
                {% endif %}

                {% if mensajeCambioDomicilio == 'materialfalta' %}
                    <label class="alert alert-danger">El técnico no dispone de ese material.</label>
                {% endif %}

            {% endif %}
        </form>
    </div>

{% endblock %}

{% block usuario %}
    <span>Conectado como: {{ usuario }}</span>
{% endblock %}