{% extends 'layout.twig' %}

{% block title 'Warning' %}

{% block menu %}
{% endblock %}


{% block contenido %}
    <label class="alert alert-danger">Usted no tiene permisos para acceder a este modulo</label>
    <label for=""><a href="../../index.php">Volver</a></label>
{% endblock %}