{% extends 'layout.twig' %}

{% block title 'reasignar incidencia' %}

{% block contenido %}
    <div class="contenido">
        <form class="" action="" method="post">


            <div class="vistaFormulario">

                {% if mensaje == 'principal' %}
                    <div>
                        <label class="alert alert-danger">No se puede modificar la incicencia ya que actualmente esta siendo atendia por: <span class="badge badge-danger">{{ nombreTecnico }}</span></label>
                    </div>

                {% else %}

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label for="tecnico" class="input-group-text" id="inputGroup-sizing-default">Introduce el Tecnico:</label>
                        <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="nuevoTecnico" id="tecnico">
                            <option value=""></option>
                            {% for tecnico in tecnicos %}
                                <option value="{{ tecnico.dni }}">{{ tecnico.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" name="btnAceptar" value="Aceptar">
                {% endif %}
                <a href="javascript:history.back()"><input class="btn btn-primary" type="button" value="Volver"></a>

                {% if mensaje == 'error' %}
                    <div>
                        <label class="alert alert-danger">No se pudo asignar la incidencia.</label>
                    </div>
                {% endif %}


            </div>




        </form>
    </div>
{% endblock %}


{% block usuario %}
    <span>Conectado como: {{ usuario }}</span>
{% endblock %}