{% extends 'layout.twig' %}

{% block title 'Liberar cliente' %}

{% block contenido %}
    <div class="contenido">
        <form class="" action="" method="post">

            {% if tipo == '1' %}
                <div class="vistaFormulario">
                    <label class="alert alert-warning" for="dni">¿Seguro que desea liberar el cliente: {{ dni }}?.</label>
                </div>
                {##}
            {% endif %}

            <div class="vistaFormulario">
                <input class="btn btn-warning" type="submit" value="Liberar" name="btnLiberar">
                <input class="btn btn-danger" type="submit" value="Cancelar" name="btnCancelar">
            </div>

            {% if mensajeUpdate == 'error' %}
                {% if tipo == '1' %}
                    <p class="alert alert-danger">Error al liberar el cliente {{ dni }}</p>
                    {##}
                {% endif %}
            {% endif %}
            {##}

        </form>
    </div>
{% endblock %}

{% block usuario %}
    <span>Conectado como: {{ usuario }}</span>
{% endblock %}