{% extends 'layout.twig' %}

{% block title 'Disponibilidad' %}

{% block contenido %}

    <div class="contenido">
        <form action="" method="post">

            <div class="form-group miDiv">
                <p class="alert alert-info">Selecciona la fecha de disponiblidad:</p>
                <div class="input-group date form_datetime" data-date="" data-date-format="yyyy-mm-dd HH:ii p" data-link-field="dtp_input1">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-calendar-alt"></i></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    </div>
                    <input class="form-control" size="2" type="text" value="{{ fechaDisponible }}" readonly>
                </div>
                <input type="hidden" id="dtp_input1" value="{{ fechaDisponible }}" name="disponible"/><br/>
            </div>

            <div class="vistaFormulario">
                <button class="btn btn-success" type="submit" name="btnModificar"><i class="fas fa-edit"></i> Modificar</button>
                <a href="javascript:history.back()"><button class="btn btn-warning" type="button"><i class="fas fa-undo"></i> Volver</button></a>
            </div>

        </form>
    </div>

{% endblock %}