{% extends 'layout.twig' %}

{% block title 'Añadir cliente' %}

{% block contenido %}
    <div class="contenido">
        <form class="" action="" method="post">
            <div class="vistaFormulario">
                <p class="alert alert-info">Introduce los dátos del nuevo cliente: </p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Introduce el dni:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="dni" value="{{ dniB }}">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Introduce el nombre:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="nombre">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Introduce la dirección:</span>
                    </div>
                    <select name="tipoD" id="">
                        <option value="">Otros</option>
                        <option value="C/ ">Calle</option>
                        <option value="AVN ">Avenida</option>
                        <option value="PLZA ">Plaza</option>
                        <option value="PSO ">Paseo</option>
                        <option value="CTRA ">Carretera</option>
                        <option value="CMNO ">Camino</option>
                        <option value="URB ">Urbanizazion</option>
                    </select>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="direccion">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Introduce la ciudad:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="ciudad">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Introduce la provincia:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="provincia">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Introduce el código postal:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="cp">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Introduce el teléfono:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="telefono">
                </div>
                {% if rol == '1' %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Comentario de la instalación:</span>
                    </div>
                    <textarea type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="comentario"></textarea>
                </div>
                {% endif %}
                <p class="alert alert-info">(*) Campos obligatorios: </p>

            </div>

            <div class="grupoFB">
                <button class="btn btn-primary" type="submit" name="btnEnviar"><i class="fas fa-plus"></i> Añadir</button>
                <button class="btn btn-primary" type="submit" name="btnCancelar"><i class="fas fa-undo"></i> Volver</button>
            </div>

            {% if mensaje == 'error' %}
                <p class="alert alert-warning">Error al insertar el cliente {{ nombre }}</p>
            {% endif %}

            {% if mensajedos == 'error' %}
                <p class="alert alert-warning">Error al insertar la instalación del cliente: {{ nombre }}</p>
            {% endif %}
        </form>
    </div>
{% endblock %}

{% block usuario %}
 <span>Conectado como: {{ usuario }}</span>
{% endblock %}