{% extends 'layout.twig' %}

{% block title 'Liberar cliente' %}

{% block contenido %}
    <div class="contenido">
        <form class="" action="" method="post">

            {% if tipo == '1' %}
                <div class="vistaFormulario">
                    <label class="alert alert-warning" for="dni">¿Seguro que desea liberar el cliente: <span class="badge btn-warning">{{ dni }}</span>?.</label>
                </div>
                {##}
            {% endif %}

            <div class="vistaFormulario">
                <button class="btn btn-warning" type="submit" name="btnLiberar"><i class="fas fa-recycle"></i> Liberar</button>
                <button class="btn btn-warning" type="submit" name="btnCancelar"><i class="fas fa-undo"></i> Volver</button>
            </div>

            {% if mensajeUpdate == 'error' %}
                {% if tipo == '1' %}
                    <p class="alert alert-danger">Error al liberar el cliente <span class="badge btn-warning">{{ dni }}</span></p>
                    {##}
                {% endif %}
            {% endif %}
            {##}

        </form>
    </div>
{% endblock %}

{% block usuario %}
    <span>Conectado como: {{ usuario }}</span>
{% endblock %}