{% extends 'layout.twig' %}

{% block title 'Configuracion' %}

{% block contenido %}
    <div class="contenido">

        {#Se ocultan ya que el mensaje lo mostraremos por toastr#}
        {% if mensajeCambios == 'No' %}
            <label id="cambiosModificarUsuario" hidden>No</label>
        {% elseif mensajeCambios == 'Si' %}
            <label id="cambiosModificarUsuario" hidden>Si</label>
        {% endif %}

        {% if zona == 'password' %}
            <form class="" action="" method="post">

                <div class="vistaFormulario">
                    <p class="alert alert-info">Por motivos de seguridad:</p>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Introduce la contrase単a:</span>
                        </div>
                        <input class="form-control" id="usuario" type="password" name="passwordVerificar" value="" required>
                    </div>
                </div>

                <div class="vistaCheck">
                    <button class="btn btn-primary" type="submit" name="aceptar"><i class="fas fa-unlock"></i> Aceptar</button>
                </div>
                {% if mensaje == 'Ok' %}
                    <p class="alert alert-success">Cambios guardados</p>
                {% endif %}
            </form>

        {% endif %}

        {% if zona == 'formulario' %}

            <form class="" action="" method="post">

                <div class="vistaFormulario">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label for="usuarioConfUsuario" class="input-group-text" >Introduce el usuario*:</label>
                        </div>
                        <input  id="usuarioConfUsuario"  type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="nUsuario" value="{{ usuario }}">
                        <p type="text" class="badge badge-danger alerta" id="mensajeConfUsuario"></p>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label  for="usuarioConfNombre" class="input-group-text" >Introduce el nombre*:</label>
                        </div>
                        <input id="usuarioConfNombre" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="nombre" value="{{ nombre }}">
                        <p type="text" class="badge badge-danger alerta" id="mensajeConfNombre"></p>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label for="usuarioConfClave" class="input-group-text" >Introduce la nueva contrase単a:</label>
                        </div>
                        <input id="usuarioConfClave"  type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="password">
                        <p type="text" class="badge badge-danger alerta" id="mensajeConfClave"></p>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label  for="usuarioConfClaveR" class="input-group-text" >Repite la contrase単a:</label>
                        </div>
                        <input id="usuarioConfClaveR"  type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="passwordR">
                        <p type="text" class="badge badge-danger alerta" id="mensajeConfClaveR"></p>
                    </div>


                </div>

                <div class="vistaCheck">
                    <button id="btnConfUsuario" class="btn btn-success" type="submit" name="btnModificar"><i class="fas fa-check"></i> Modificar</button>
                    <button  class="btn btn-warning" type="submit" name="cancelar"><i class="fas fa-undo"></i> Volver</button>
                </div>
                <div class="vistaFormulario">
                    <p class="alert alert-info">(*) Campos obligatorios</p>
                </div>


                {% if comprobarUsuario == false %}
                    <p class="alert alert-danger">El Usuario ya existe</p>
                {% endif %}

                {% if claveCoinciden == false %}
                    <p class="alert alert-danger">Las contrase単as no coinciden</p>
                {% endif %}

                {% if mensaje == 'error' %}
                    <p class="alert alert-danger">Error modificar el usuario: {{ usuario }}</p>
                {% endif %}

            </form>
        {% endif %}

    </div>
{% endblock %}

{% block usuario %}
    <span>Conectado como: {{ usuario }}</span>
{% endblock %}